* {
    box-sizing: border-box;
}

@keyframes color-change {
    0% {
        color: goldenrod;
    }
    50% {
        color: white;
    }
    100% {
      color: goldenrod;
    }
  }
  
  @keyframes fade-screen-in {
    0% {
        opacity: 0;
        background-color: black;
    }
    
    50% {
        opacity: 0.5;
        background-color: black;
    }
   
    100% {
        opacity: 1;
        background-color: black;
    }
}

body {
    background-color: black;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 200;
    animation: fade-screen-in 500ms ease-in;
}

h1 {
    color: goldenrod;
    text-align: center;
    margin-top: 230px;
    font-weight: 500;
    padding: 0;
    animation: color-change 4s infinite alternate;
    font-family: 'Syncopate', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    align-content: flex-start;
    font-family: 'Syncopate', sans-serif;
    width: 100%;
    font-size: 90px;
    flex-shrink: 1;
}

.name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    align-content: flex-start;
    font-family: 'Syncopate', sans-serif;
    width: 100%;
    font-size: 90px;
    flex-shrink: 1;
}

h2 a {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;
}

h2 a:hover {
    color: goldenrod;
}

p a {
    color: white;
}

p a:hover {
    color: goldenrod;
}

p {
    font-size: 25px;
    color: goldenrod;
    text-align: center;
}

.about {
    margin-top: 60px;
}

.contact {
    margin-top: 60px;
}

.projects {
    margin-top: 60px;
}


.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    align-content: flex-start;
}

.contact-info {
    text-align: justify;
    display: table-cell;
    font-size: 25px;
    padding-left: 30px;
}

.about-info {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    font-size: 22px;
    padding: 15px;
    color: white;
    line-height: 1.5;
    margin: 10px 50px 10px 50px;
}

.projectInfo {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    color: white;
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
    margin: 10px 50px 10px 50px;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    align-content: flex-start;
    overflow-y: scroll;
}

.project-img {
    display: flex;
    width: 50%;
    padding-right: 10px;
}


nav {
    color: white;
    background-color: goldenrod;
    background-size: cover;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Cinzel', serif;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px;
}

nav a:hover {
    color: goldenrod;
    background-color: black;
}

nav a.active {
    color: goldenrod;
    background-color: black;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.github {
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: goldenrod;
    cursor: pointer;
    margin-right: 5px;
}
.github:hover {
    background-color: white;
    border: 5px solid goldenrod;
}

.linkedin {
    width: 50px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: goldenrod;
    cursor: pointer;
    margin-left: 5px;
}

.linkedin:hover {
    background-color: white;
    border: 5px solid goldenrod;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    align-content: flex-start;
}

#grant {
    display: flex;
    width: 300px;
    border: 5px solid goldenrod;
    border-radius: 10%;
    margin-left: 20px;
}

@media only screen and (max-width: 540px) {
    nav li {
        list-style: none;
        text-align: center;
        margin: 0 auto;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    h1 {
        font-size: 75px;
    }
}

@media only screen and (max-width: 450px) {
    nav li {
        list-style: none;
        text-align: left;
        margin: 0 auto;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        padding: 0px;
    }
    h1 {
        font-size: 55px;
    }
}